html, body {
  height: 100%;
  width: 100%;
  margin: 0px;
  font-size: 18px;
  font-family: sans-serif;
  background-color: #FFF0F0;
  color: #a3a3a0;
  position: center;

}


.container {
  height: 100%;
  width: 100%;
  /*background-image: linear-gradient(rgba(0, 0, 0, 0.600),rgba(0, 0, 0, 0.3)), url('../images/webdev.jpeg');*/
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 700px 1fr 1fr 1fr 1fr 1fr 1fr 50px;
  gap: 10px;
  padding: 20px;
  box-sizing: border-box;
}

.container div {
  border: 1px;
  padding: 8px;
}

.header {
  grid-column-start: 1;
  grid-column-end: 3;
  background-image: linear-gradient(rgba(0, 0, 0, 0.600),rgba(0, 0, 0, 0.3)), url('../images/webdev.jpeg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 10px;
  height: 100%;
}

.navbar {
  background-color: #3f3f3f;
}

.navbar a {
  text-decoration: none;
  color: #ffff;
}

.navbar a:hover {
  color: #EBD4D4;
}

.navbar p {
  display: flex;
  justify-content: space-around;
  size: 20px !important;
}

.avatar {
  text-align: center;
  margin-top: 70px;
}

.avatar img {
  width: 20%;
 height: auto;
}

.profile {
  text-align: center;
  color: #ffff;
}

.description {
  grid-column-start: 1;
  grid-column-end: 3;
}

h2 {
  margin: 40px 0;
}

li {
  margin: 15px 0;
}

.skills {
   grid-column-start: 1;
  grid-column-end: 3;
  display: flex;
  justify-content: space-evenly;
  font-size: 25px;
}

.skills ul {
  font-size: 30px;
}

.soft-skills {
  margin-left: 100px;
}

.tech-skills {
  margin-left: 60px;
}
.projects {
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 3;
}

.img1 img {
  height: 240px;
  width: 419px;
}

.img2 img {
  height: 240px;
  width: 419px;
}

.cv {
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 3;
}

p a, .cv a, .contacts a{
  color: #835858;
  text-decoration: none;
}

.cv img {
  height: 600px;
  width: 414px;
}

.icons {
 font-size: 35px;
 text-decoration: none;
 display: flex;
 justify-content: space-evenly;

}

.contacts ul {
  font-size: 25px !important;

}

p a:hover, .contacts a:hover, .cv a:hover {
  text-decoration: underline;
  color: #EBD4D4;
}

.img1 img:hover, .img2 img:hover {
  color: #EBD4D4;
}

.contact-info {
  margin-left: 80px;
}

.footer .fa-home:before {
  font-size: 40px;
}


.fa-home:before {
  font-size: 25px;
  margin-right: 20px;
}


.fa-mobile-phone:before, .fa-mobile:before {
  font-size: 30px;
  margin-right: 20px;
}

.fa-envelope-square:before {
  font-size: 20px;
  margin-right: 20px;
}

.footer {
  background-color: #3f3f3f;
}

.icons a:hover {
  color: #ffff !important;

}

footer {
  grid-column-start: 1;
  grid-column-end: 3;
}

.footer {
  text-align: center;
}

.fa {
  color: black !important;
  text-decoration: none !important;
}
