html, body {
  height: 100vh;
  width: 100wh;
  font-size: 18px;
  font-family: 'Roboto Condensed', sans-serif;
  background-color: #FFF0F0;
  color: #a3a3a0;
}

h1 {
  margin: 50px !important;
  font-family: 'Sacramento', cursive;
  font-size: 350%;
}

h2 {
  margin: 40px 0;
  font-family: 'Montserrat', sans-serif;
}

h3 {
  font-family: 'Otomanopee One', sans-serif;
  padding-bottom: 50px;
  margin-bottom: 0 !important;
}

hr {
  border: double;
  border-width: 4px;
  margin: 50px 50px;
}

li {
  margin: 15px 0;
}

p a, .cv a, .contacts a{
  color: #835858;
  text-decoration: none;
}

footer .container-fluid {
  margin: 10px 0;
}

.navbar {
  font-family: Roboto, sans-serif;
}

.nav-link {
  margin: 0 20px;
}

.scroll {
  color: #EBD4D4;
}

.scroll:hover {
  text-decoration: underline !important;
  color: #EBD4D4 !important;
}

.my-profile {
  background-image: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.7)), url('../images/webdev.jpeg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

.container-fluid .col-sm {
  margin: -40px 0;
}

.avatar {
  text-align: center;
}

.avatar img {
  margin-top: 70px;
  width: 20%;
  height: auto;
}

.profile {
  text-align: center;
  color: #ffff;
  letter-spacing: 5px;
}

.description {
  grid-column-start: 1;
  grid-column-end: 3;
}

.skills {
  grid-column-start: 1;
  grid-column-end: 3;
  display: flex;
  justify-content: space-evenly;
  min-height: calc(125% - 73px - 72px);
}

.skills ul {
  font-size: 100%;
  line-height: 100%;
}

.projects {
  text-align: -webkit-center;
  grid-column-start: 1;
  grid-column-end: 3;
}

.img1 img {
  width: 230px;
}

.img2 img {
  width: 50%;
}

.img2 p, .img1 p {
  margin: 50px 50px;
}

.cv {
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 3;
}

.cv img {
  width: 34%;
}

.icons {
  margin-top: -10px;
  padding-top: 20px;
 font-size: 1.7rem;
 text-decoration: none;
 display: flex;
 justify-content: space-evenly;

}

.contacts ul {
  font-size: 25px !important;

}

.img1 img:hover, .img2 img:hover {
  Background Color: rgba(0,0,0,0.8)
}

.contact-info {
  margin-left: 80px;
}

.footer .fa-home:before {
  font-size: 40px;
}

.fa {
  color: #EBD4D4 !important;
  text-decoration: none !important;
}

.fa:hover {
  color: #ffff !important;
}

.fa-home:before {
  font-size: 195%;
  margin-right: 20px;
}


.fa-mobile-phone:before, .fa-mobile:before {
  font-size: 30px;
  margin-right: 20px;
}

.fa-envelope-square:before {
  font-size: 20px;
  margin-right: 20px;
}


.footer {
  text-align: center;
}

.copyright {
  margin: 20px 0;
  padding: 5px;
  background-color: #EBD4D4;
  text-align: center;
  color: #968C83;
  width: 100%;
  font-size: 13px;
}
